.icon-box-filled.deep-dive-color-blue {
	color: #6AB7C7;
}

.icon-box-filled.deep-dive-color-darkblue {
	color: #5379AF;
}

.icon-box-filled.deep-dive-color-green {
	color: #9AC23C;
}

.icon-box-filled.deep-dive-color-red {
	color: #D8593C;
}

.icon-box-filled.deep-dive-color-yellow {
	color: #FAC51C;
}

.icon-box-filled.deep-dive-color-orange {
	color: #F7902B;
}

.icon-box-filled.deep-dive-color-pink {
	color: #DD86AF;
}

.icon-box-filled.deep-dive-color-purple {
	color: #956D95;
}

